@model BookStore.Domain.Domain.Book

@{
    ViewData["Title"] = "Delete Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete Book</h1>

<hr />

<h3>Are you sure you want to delete this book?</h3>

<form asp-action="Delete" class="mt-3">
	<input type="hidden" asp-for="Id" />
	<input type="submit" value="Delete" class="btn btn-danger rounded-pill shadow" style="width: 7rem;" />
	<a asp-action="Index" class="btn rounded-pill buttonBrown shadow ms-2">Back to List</a>
</form>

<div class="container d-flex justify-content-center mt-4">
    <div class="card mb-3 w-100 shadow">
        <div class="row g-0">
            <div class="col-md-3 d-flex d-md-block justify-content-center">
                <img src="@Model.ImageUrl" class="img-fluid rounded" style="float: left; height: 30rem; object-fit: cover;" alt="Book cover">
            </div>
            <div class="col-md-9 p-4">
                <div class="card-body">
                    <h3 class="card-title">"@(Model.Title)"</h3>
                    <h4 class="card-title">by @Model.Author.Name</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Price)
                        </dt>
                        <dd class="col-sm-10">
                            $@Html.DisplayFor(model => model.Price)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Rating)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Rating)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Genre)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Genre)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Publisher)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Publisher.Name)
                        </dd>
                    </dl>
                    <p class="card-text">@Model.Description</p>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .buttonBrown {
        background-color: #A24B00;
        color: white;
        width: 7rem;
    }

        .buttonBrown:hover {
            background-color: #7B3200;
            color: white;
        }

    .buttonYellow {
        background-color: #E8AD21;
        color: white;
        width: 7rem;
    }

        .buttonYellow:hover {
            background-color: #B97E09;
            color: white;
        }
</style>