@model BookStore.Domain.DTO.OrderDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row m-4">
        <h4>Ordered on @(Model.OrderDate.Date.ToShortDateString()), @(Model.OrderDate.ToShortTimeString())</h4>
        
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Book</th>
                    <th scope="col">Author</th>
                    <th scope="col">Publisher</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Books.Count; i++)
                {
                    var item = Model.Books[i];

                    <tr>
                        <th scope="row">@(i + 1)</th>
                        <td>@item.Book.Title</td>
                        <td>@item.Book.Author.Name</td>
                        <td>@item.Book.Publisher.Name</td>
                        <td>$@item.Book.Price</td>
                        <td>@item.Quantity</td>
                    </tr>
                }
            </tbody>
            <tfoot class="thead-dark">
                <tr>
                    <th scope="col">TotalPrice:</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">$@Model.TotalPrice</th>
                </tr>
            </tfoot>
        </table>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</div>